figure img{
  max-width: 100%;
}
.apparatus li{
    margin-bottom: 8px;
    text-transform: capitalize;
    font-size: 20px;
}
figcaption{
    font-size: 20px;
    text-align: center;
}
.ordered{
    list-style-type: decimal;
}
.ordered li{
    font-size: 20px;
    margin-bottom: 8px;
}
.sub-list{
    list-style-type: circle;
    padding-left: 5em;
}