@tailwind base;
@tailwind components;
@tailwind utilities;

.about{
  background-image: url(/public/images/easyLabs-bg-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media(max-width:800px){
  nav ul{
    flex-direction: column;
  }
  nav{
    display: block;
    background-color: #caf0f8;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    transform: translateX(-100%);
    transition: all 1s;
  }
  .nav-btn{
    display: block;
  }
  #check:checked ~ nav{
    transform: translateX(0);
  }
}