@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body{
  color: #021c1e;
}
.about{
  background-image: url(/public/images/easyLabs-bg-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.number{
  top: -22px;
}
.step-box{
   box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
label{
  display: block;
  font-size: 20px;
}
.cta{
  transition: all 1s;
}
header{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
}

@media(max-width:800px){
  nav ul{
    flex-direction: column;
  }
  nav{
    display: block;
    background-color: #caf0f8;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    transform: translateX(-100%);
    transition: all 1s;
    height: 50vh;
    padding-left: 40px;
  }
  .nav-btn{
    display: block;
    cursor: pointer;
    font-size: 30px;
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  #check:checked ~ nav{
    transform: translateX(0);
  }
  .steps{
    flex-direction: column;
  }
}
